@import './variables.css';
@import './progress-bar.css';

.btn {
  background: transparent;
  color: var(--color-light-primary);
}

#controls-container.in-fullscreen .btn {
 color: white;
}

#controls-container.in-fullscreen .sldr {
  background-color: white;
}

.control {
  transition: color 0.25s;
}

.control:enabled:hover {
  color: white;
}

#controls-container {
  height: var(--height-controls);
  padding: 4px 16px 12px;
  background-color: var(--color-dark-primary);
}

#controls-container.in-fullscreen {
  width: 100vw;
  color: white;
  background-color: transparent;
  position: fixed;
  bottom: calc(-1 * var(--height-controls));
  box-shadow: inset 0px -66px 30px -48px rgba(0, 0, 0, 0.75);
  transition: bottom 0.2s ease-out;
}

#controls-container.in-fullscreen.apparent {
  bottom: 0;
}

#controls-row-1 {
  margin-bottom: 4px;
}

#controls-row-2 {
  display: grid;
  grid-template-columns: 24px 24px 164px 1fr 164px 24px 24px;
  column-gap: 12px;
}

#volume-div, #speed-div {
  display: grid;
  grid-template-columns: 24px 96px 36px;
  column-gap: 4px;
}

#volume, #speed {
  width: 100%;
  height: 2px;
  align-self: center;
  background-color: var(--color-light-primary);
  transition: background-color 0.25s;
}

#volume:hover, #speed:hover {
  background-color: white;
}

#volume::-webkit-slider-thumb, #speed::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: var(--color-light-primary);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

#controls-container.in-fullscreen #volume::-webkit-slider-thumb,
#controls-container.in-fullscreen #speed::-webkit-slider-thumb {
  box-shadow: none;
  background-color: white;
}

#volume:hover::-webkit-slider-thumb, #speed:hover::-webkit-slider-thumb {
  background-color: white;
}

#volume-text, #speed-text {
  color: var(--color-light-primary);
  font-size: 14px;
  line-height: 24px;
  text-align: right;
}

#controls-container.in-fullscreen #volume-text,
#controls-container.in-fullscreen #speed-text {
  color: white;
}

#time-info {
  color: var(--color-light-primary);
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

#controls-container.in-fullscreen #time-info {
  color: white;
}

#repeat-toggle {
  transition: text-shadow 0.25s;
}

#repeat-toggle.on {
  color: yellow;
  text-shadow: 0 0 1px var(--color-dark-primary), 0 0 4px yellow;
}

#controls-container.in-fullscreen #repeat-toggle.on {
  color: yellow;
}
