@import './progress-bar.css';

#controls-container {
  height: 160px;
  padding: 4px 16px;
  background-color: #333;
}

#controls-row-1 {
  margin-bottom: 8px;
}

#controls-row-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#time-info {
  align-self: center;
  justify-self: center;
}

#play-pause-toggle {
  align-self: center;
  justify-self: center;
  width: 66px;
  height: 66px;
  border-radius: 50%;
}

#file-info {
  align-self: center;
  justify-self: center;
}