* {
  box-sizing: border-box;
  -webkit-user-select: none;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: 'Segoe UI', Roboto, sans-serif;
  color: #ddd;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 0;
  outline: none;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0;
  width: 0;
}

button {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}