@import './variables.css';
@import './init.css';
@import './icons.css';
@import './title-bar.css';
@import './controls.css';

#app-main {
  display: grid;
  grid-template-rows: 1fr var(--height-controls);
}

#video-container {
  width: 100vw;
  height: calc(100vh - var(--height-title-bar) - var(--height-controls));
  background-color: var(--color-video-background);
}

#video {
  display: block;
}