@import './init.css';
@import './icons.css';
@import './title-bar.css';
@import './controls.css';

#app-main {
  display: grid;
  grid-template-rows: 1fr 160px;
}

#video-container {
  width: 100vw;
  height: calc(100vh - 160px);
  background-color: #000;
}

#video {
  display: block;
}