@import './variables.css';
@import './init.css';
@import './icons.css';
@import './title-bar.css';
@import './controls.css';

#app-main {
  display: grid;
  grid-template-rows: 1fr var(--height-controls);
}

#app-main.in-fullscreen {
  display: block;
}

#message-container.hidden {
  opacity: 0;
}

#message-container {
  position: fixed;
  top: 64px;
  opacity: 1;
  width: 100vw;
  text-align: center;
  transition: opacity 0.25s;
}

#message {
  display: inline-block;
  background-color: var(--color-transparent);
  font-size: x-large;
  padding: 10px;
}

#video-container {
  width: 100vw;
  height: calc(100vh - var(--height-title-bar) - var(--height-controls));
  background-color: var(--color-video-background);
}

#video-container.in-fullscreen {
  height: 100vh;
}

#video {
  display: block;
}