#title-bar {
  display: grid;
  grid-template-columns: 32px 1fr 16px 32px 16px 46px 46px 46px;
  width: 100vw;
  height: var(--height-title-bar);
  background-color: var(--color-dark-primary);
  color: var(--color-light-primary);
  transition: color .1s linear, background-color .1s linear;
}

#title-bar.in-fullscreen {
  display: none;
}

#title-bar.blurred {
  color: gray ;
  background-color: var(--color-light-primary);
}

#app-icon .handle {
  position: relative;
  top: 2px;
  height: 30px;
}

#app-icon img {
  position: relative;
  top: 5px;
  left: 8px;
  height: 16px;
}

#app-name .handle {
  position: relative;
  top: 2px;
  width: calc(100vw - 234px);
  height: 30px;
  font-size: 12px;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.handle {
  -webkit-app-region: drag;
}

#keyboard-shortcuts-button {
  text-align: center;
  cursor: pointer;
}

#keyboard-shortcuts-button:hover i {
  color: white;
}

#keyboard-shortcuts-button i {
  line-height: var(--height-title-bar);
}

#title-bar.blurred #keyboard-shortcuts-button:hover i {
  color: var(--color-light-secondary);
}

.win-btn {
  font-family: Segoe MDL2 Assets;
  font-size: 10px;
  line-height: 32px;
  text-align: center;
  transition: background-color .1s linear;
}

.win-btn.hovered {
  background-color: var(--color-dark-secondary);
}

#title-bar.blurred .win-btn.hovered {
  background-color: var(--color-light-secondary);
}

.win-btn-close.hovered, #title-bar.blurred .win-btn-close.hovered {
  color: white;
  background-color: red;
}