#title-bar {
  display: grid;
  grid-template-columns: 32px 1fr repeat(3, 50px);
  height: 30px;
  background-color: #333;
  color: #ddd;
}

#app-icon .handle {
  position: relative;
  top: 2px;
  height: 28px;
}

#app-icon img {
  position: relative;
  top: 4px;
  left: 8px;
  height: 16px;
}

#app-name .handle {
  position: relative;
  top: 2px;
  height: 28px;
  font-size: 14px;
  line-height: 25px;
}

.handle {
  -webkit-app-region: drag;
}

.win-btn {
  text-align: center;
  transition: background-color 0.25s;
}

.win-btn i {
  font-size: 14px;
  line-height: 30px;
}